// COLORS
$color-primary: #105caa;
$color-blue: #0c549f;
$color-light-blue: #276Cb2;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;
