
.products__body {
  margin-top: 50px;
}

.product {
  padding: 15px;
  position: relative;
  background: #fff;
  transition: all 0.2s ease-in-out;

  
  &:hover {
    transform: scale(1.1) translate(0px, 25px);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.227);
    z-index: 10;

    .product__img-hover {
      opacity: 1;
    }

    .product__inner {
      top: 390px;
      box-shadow: 0 20px 2rem #0000003a;
      opacity: 1;
    }

    .icon-one {
      transform: translate(0%, -210%);
      transition: all 0.2s ease-in-out;
      transition-delay: 100ms;
      opacity: 1;
      z-index: 100;
    }

    .icon-two {
      transform: translate(0%, -210%);
      transition: all 0.2s ease-in-out;
      transition-delay: 300ms;
      opacity: 1;
      z-index: 100;
    }
  }

  &__img-hover {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &__inner {
    padding-top: 15px;
    padding-bottom: 40px;
    height: 390px;
    transition: all 0.2s linear;
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
  }
  
  &__body {
    @include trans;
    opacity: 1;
  }

  &__icons {
    @include list-unstyled;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    opacity: 1;
    
    button {
      margin: 0 5px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 100%;
      background: #fff;
      box-shadow: 0 0 5px 0 #0000003a;
      border: none;
    }

    .icon-one {
      transition: all 0.2s ease-in-out;
      opacity: 0;
    }

    .icon-two {
      transition: all 0.2s ease-in-out;
      transition-delay: 200ms;
      opacity: 0;
    }

    button {
      @include trans;

      &:hover {
        background: $color-blue;
        color: #fff;
      }
    }
  }

  &__title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
  }

  &__ratings {
    @include list-unstyled;
    display: flex;
    justify-content: center;

    i {
      color: #dbdbdb;
      font-size: 12px;
    }
  }

  &__price {
    margin-top: 15px;
    color: #222;
    font-size: 13px;
    font-weight: 700;
  }

  &__button {
    @include trans;
    display: inline-flex;
    align-items: center;
    margin-left: 7px;
    padding: 10px 30px;
    font-family: $font-poppins;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
    border: none;
    border-radius: 22px;

    i {
      font-size: 18px;
    }

    &:hover {
      background: $color-blue;
      color: #fff;
    }
  }

  &__discount {
    margin-left: 10px;
    color: #e0e0e0;
    font-size: 10px;
    font-weight: 700;
    text-decoration: line-through;
  }
}


// carousel ====================================================

.product-slide {
  overflow: unset !important;
}


